<!DOCTYPE html>
<html lang="en">

<body>

<h2>Current time</h2>

<div id="txt"></div>

<h3 id="Start Time"></h3>

<button type="button" id="Start">Start Race</button>

<button type="button" id = "End">End Race</button>

<button type="button" id="Submit" disabled = "disabled">Submit Race Results</button>

<h3 id="Elapsed Time" >00:00:00</h3>

<form>
    <label for="Boat">Boat</label>
    <select id="Boat"></select>
    <label for="Sail Number">Sail Number</label>
    <input type="text" id="Sail Number">
</form>
<br>
<button type="button" id="Sailor Submit" >Submit</button>
<br>
<table id = "entries">
    <thead id = "headers">
        <th> Boat </th>
        <th> Sail Number</th>
    </thead>
    <tbody>
    </tbody>
</table>

<script type="text/javascript" src="{{ url_for('static', filename='js/time_functions.js')}}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/renders.js')}}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script>

<script type="text/javascript">

    allvariables = variables({{boatarray|tojson}})

    var boatselect = document.getElementById("Boat");
    for (index in  allvariables) {
        boatselect.options[boatselect.options.length] = new Option(allvariables[index], index)
    }
</script>

</body>

</html>